# Distribución
.dist/

# Ignorar carpetas comunes en todas las apps
*/__pycache__/
*/__init__.py

# Archivos compilados y temporales
*.pyc
*.pyo
*.log

# Entornos virtuales
venv/
env/
.env
pyvenv.cfg

# Configuración de IDEs
.vscode/
.idea/

# Imports de python
include/


# Exceso
mainAPI/db.sqlite3